*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #28282b;
}

body {
	font-family: 'Nunito', monospace;
	color: var(--color-text);
	background-color: #28282b;
}

.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.demo-kidnap {
	transition: background-color 0.3s, opacity 0.3s;
} 

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-background);
}

.js .loading::after {
	content: '';
	box-shadow: 20px 0 0, -20px 0 0;
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px;
	pointer-events: none;
	border-radius: 50%;
	background: var(--color-text);
	animation: loaderAnim 1s ease-in-out infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		box-shadow: 20px 0 0 var(--color-text), -20px 0 0 transparent;
		background: transparent;
	}
	50% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 transparent;
		background: var(--color-text);
	}
	100% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 var(--color-text);
		background: transparent;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


.btn2{
    display: flex;
    font-size: 1.4rem;
    font-weight: 200;
    padding-left: 1.5rem;
    padding-top: 2rem;
    margin-left: 1rem;
    width: 8rem;
    height: 7rem;
    color:#F2F7FF;
    align-items: center;
    background-color:#d5c12e;
    transition: ease-out 0.2s;
    border: none;
    outline: none;
}

.btn2:hover{
    box-shadow: inset 8rem 0 0 0 #dbc51a;
    cursor: pointer;
}

.header .border{
    position: absolute;
    top: 6.9rem;
    left: 123px;
    border-bottom: .1rem solid #d5c12e;
    width: 84%;
}

.header{
    position: relative;
    top: 0; 
    left: 0;
    height: 7rem;
    z-index: 100000;
    width:100%;
    padding-left: 4rem;
    padding-right: 7.5rem;
    /*border-bottom: .1rem solid #aa00ff8f;*/
    background-color: #28282b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar1{
    margin-bottom: 2rem;
    margin-right: .5rem;
}


.navbar1 span{
    font-size: 18px;
    font-weight: 600;
    color: #d5c12e;
    margin-left: 7px;
}

.header img{
    padding-top: 1.8rem;
    height: 4.4rem;
    margin-left: 4rem;
    margin-right: 10px;
    margin-bottom: .5rem;
}

.header .navbar ul{
    padding-left: 9.5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    list-style: none;
}

.header .navbar ul li{
    margin-left: 3rem;
}

.header .navbar ul li a{
    font-size: 1.4rem;
    font-weight: 300;
    color: #F2F7FF;
    text-decoration: none;
}

.header .navbar ul li a:hover{
    font-weight: 360;
    color: #d5c12e;
}

.header .navbar ul .head.active{
    font-weight: 360;
    color: #d5c12e;
    
}

h2{
    position: relative;
    background: linear-gradient(to right, #f6e040, #b09e19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(12px -24px 25px rgb(0, 0, 0));
    font-size: 80px;
    font-weight: 780;
    letter-spacing: 0px;
    padding-left: 7.5rem;
    padding-top: 45px;
}


.about-container {
    position: relative;
    margin-bottom: 5rem;
    margin-left: 7.5rem;
    display: flex;
    align-items: end;
}

.about-container h3{
    width: 45rem;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #f2f7ff;
    margin-bottom: 2rem;
}

.about-container img {
    width: 420px;
    height: 420px;
    margin-left: 9rem;
}